<div id="aboutpage">
    <div id="aboutpageHolder">
        <section id="aboutWelc">
            <div id="aboutWelcHolder">
                <div id="aboutWelcText">
                    <h1>Inside Bistro Union</h1>      
                </div>
            </div>
        </section>
        <section id="letter">
            <div id="letterHolder">
                <div id="notePic">
                    <div id="tinyText">
<!--                        <h3>Great place to enjoy</h3>-->
                        <h1>Resturant</h1>
                        <h2>Delicious dishes</h2>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                         
                        
                    </div>
                    <div id="tinyPic">
                        <img class="apicture" src="assets/img/soup.jpg"/>
                    </div> 
                    
                    <div id="BottinyPic">
                        <img class="apicture" src="assets/img/kitchentwo.jpeg"/>
                    </div> 
                    <div id="BottinyText">
<!--                        <h3>Est. 1982</h3>-->
                         <h1>Famous Chief</h1>
                        <h2>creative team</h2>
                         <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                         
                    </div> 
                </div>
                <div id="noteWritten">
                     <div id="writtenText">
                         <h3>Famous Chief</h3>
                         <h1>Founder</h1>
                         <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                         <h2>Jim Lewis</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="health">
            <div id="healthHolder">
                <div id="carlgut">
                   <div id="justHolder">
                         <p> Velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                         Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                       
                         </p>
                         <h2>Client info</h2>            
                    </div>                      
                </div>    
                <div id="logosMain">
                     <div id="logA">
                         <img class="logs" src="assets/img/cooking.png" />
                     </div>
                     <div id="logB">
                         <img class="logs" src="assets/img/tlcw.png" />
                     </div>
                    <div id="logC">
                        <img class="logs" src="assets/img/trav.png" />
                    </div>
                </div>
            </div>
        </section>
        <section id="footer">
            <div id="footHolder">
                <div id="footText">
                    2016. Copyright Bistro. All rights reserve.
                </div>
            </div>
        </section>
    </div>
</div>
