<div id="aboutpage">
    <div id="aboutpageHolder">
        <section id="aboutWelc">
            <div id="aboutWelcHolder">
                <div id="aboutWelcText">
                    <h1>Bistro</h1>      
                </div>
            </div>
        </section>
        <section id="letter">
            <div id="letterHolder">
                <div id="notePic">
                </div>
                <div id="noteWritten">
                     <div id="writtenText">
                         <h3>Est. 1982</h3>
                         <h1>Founder & Owner</h1><p>klajjfl;akjsflk;adfjskl;ajsffklfja;lsfja;lsjf;aljsfl;kajsdfklajsfdlaksjfladfjkalsfdkjlkasdf;faseoweiruow</p>
                         <h2>Jim Lewis</h2>
                    </div>
                </div>
            </div>
        </section>
        <section id="health">
            <div id="healthHolder">
                <div id="bloc">
                    <div id="blocHolder">
                    <h1>Healthy, Fresh & Locally Grown </h1><p>klajjfl;akjsflk;adfjskl;ajsffklfja;lsfja;lsjf;aljsfl;kajsdfklajsfdlaksjfladfjkalsfdkjlkasdf;faseoweiruow</p><p>klajjfl;akjsflk;adfjskl;ajsffklfja;lsfja;lsjf;aljsfl;kajsdfklajsfdlaksjfladfjkalsfdkjlkasdf;faseoweiruow</p>    
                         <h2>Jim Lewis</h2>    
                    </div>
                </div>
                <div id="glut">
                    <img src="assets/img/kitchen.jpg" class="ione">
                    <img src="assets/img/kitchentwo.jpeg" class="itwo">
                </div>
            </div>
        </section>
        <section id="footer">
            <div id="footHolder">
                <div id="footText">
                    2016. Copyright Bistro. All rights reserve.
                </div>
            </div>
        </section>
    </div>
</div>