<div id="giftpage">
    <div id="giftpageHolder">
        <section id="giftWelc">
            <div id="giftWelcHolder">
                <div id="giftWelcText">
                    <h1>Send a Gift</h1>      
                </div>
            </div>
        </section>
        <section id="gift">
            <div id="giftHolder">
                <div id="giftInfo">
                    <form name="userForm" class="giftForm"> <!-- form -->
                        
                    <!-- FIRSTNAME -->
                    <div class="blocks">
                        <input type="text" name="name" placeholder="your name" class="userIns" ng-model="sender.firstname" />
                        
                    </div>
                        
                    <div class="blocks">
                        <h1 class="checked">Send a gift card to your family or friend today!</h1>
                    </div>    
                    <!-- EMAIL -->
                    <div class="blocks" ng-show="">
                        <input type="email" name="email" placeholder="Email" class="userIns" ng-model="sender.email"/>
                    </div>
                        
                    <!-- GIFTTO -->    
                    <!-- GIFTTO --> 
                    <!-- GIFTTO -->     
                    <!-- FIRSTNAME -->
                    <div class="blocks">
                        <input type="text" name="name" placeholder="Person's Name" class="userIns" ng-model="recv.firstname" />
                    </div>

                    <!-- GIFT -->
                    <div class="blocks">
                        <select id="pick">
                          <option value="select">Select Gift</option>
                          <option value="Breackfast">Breakfast Gift Card</option>
                          <option value="Dinner ">Dinner Gift Card</option>
                          <option value="Lunch">Lunch Gift Card</option>
                        </select>
                    </div>
                        
                    <!-- ADDRESS -->
                    <div class="blocks">
                        <input type="text" name="address"  placeholder="address" class="userIns" ng-model="recv.address" />
                    </div>
                    <div class="blocks">
                        <input type="text" name="city"  placeholder="city" class="userIns" ng-model="recv.city" />
                    </div>
                    <div class="blocks">
                        <input type="text" name="address"  placeholder="state" class="userIns" ng-model="recv.state"/>
                    </div>
                    <div class="blocks">
                        <input type="text" name="zip"  placeholder="zip" class="userIns" ng-model="recv.zip" />
                    </div>
                    
                    <!-- SUBMIT BUTTON -->    
                     <div class="form-group">
                        <button type="text" class="btnSend">Send Gift</button>
                        <button type="submit" class="btnClear">Clear</button> 
                    </div>   
                    <!-- SUBMIT BUTTON -->
                    

                </form>
                </div>
            </div>
        </section>
        <section id="footer">
            <div id="footHolder">
                <div id="footText">
                    2016. Copyright Bistro. All rights reserve.
                </div>
            </div>
        </section>
    </div>
</div>
   