<div id="winepage">
    <div id="winepageHolder">
        <section id="wineWelc">
            <div id="wineWelcHolder">
                <div id="wineWelcText">
                    <h1>Best Wines</h1>      
                </div>
            </div>
        </section>
        <section id="grape">
            <div id="grapeHolder">
                <div id="graPic">
                    
                </div>
                <div id="graText">
                      <div id="gratHolder">
                          <h1>White Wine</h1>
                          <p>

Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. </p>
                          
                      </div>
                </div>
             </div>
        </section>
        <section id="car">
            <div id="carHolder">
                <div id="carText">
                    <div id="cartextHolder">
                        <h1>Red Wine</h1>
<!--                        <h2>California</h2>-->
                              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem. </p>
                    </div>
                </div>
                <div id="carsol">
                    <div id="carimageHolder">
                        
                    </div> 
                </div>
             </div>
        </section>
        <section id="footer">
            <div id="footHolder">
                <div id="footText">
                    2016. Copyright Bistro. All rights reserve.
                </div>
            </div>
        </section>
    </div>
</div>
   