<div id="hompage">
    <div id="hompageHolder">
        <section id="welcome">
            <div id="welcomeHolder">
                <div id="welcomeText">
                    <h1>Bistro</h1>      
                </div>
            </div>
        </section>
        <section id="restMenu">
            <div id="restHolder">
                <div id="foodMenu" class="box fade-in one">
                    <h1>Menu</h1>
                    <div class="pm" id="block animatable bounceIn">
                        <h2>Fettuccine with Swiss</h2>
                        <p>kajsfljak;lsfjksjf</p>
                    </div>
                    <div class="pm">
                        <h2>Fettuccine with Swiss</h2>
                        <p>kajsfljak;lsfjksjf</p>
                    </div>
                    <div class="pm">
                        <h2>Fettuccine with Swiss</h2>
                        <p>kajsfljak;lsfjksjf</p>
                    </div>
                    <div class="pm">
                        <h2>Fettuccine with Swiss</h2>
                        <p>kajsfljak;lsfjksjf</p>
                    </div>
                    <div class="pm">
                        <h2>Fettuccine with Swiss</h2>
                        <p>kajsfljak;lsfjksjf</p>
                    </div>
                    <div class="pm">
                        <h2>Fettuccine with Swiss</h2>
                        <p>kajsfljak;lsfjksjf</p>
                    </div>
                </div>
                <div id="foodBig" class="box fade-in two">
                     <h1>Entree</h1>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>  
                    </div>
                <div id="foodSmall" class="box fade-in three">
                    <h1>Dessert</h1>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        <div class="pm">
                            <h2>Fettuccine with Swiss</h2>
                            <p>kajsfljak;lsfjksjf</p>
                        </div>
                        
                </div>
            </div>
        </section>
<!--
        <section id="special">
            <div id="specialHolder">
                <div id="specPic">
                    <div id="extraHolder">
                        <div id="extraText">
                            <h1>Specalty</h1>      
                            <p>jalkjfafjalkjfkal sfjkalsjdfklajfaldjff;lajflafjl</p>
                        </div>    
                        <div id="extraImg">
                            <h1>Specalty</h1>      
                            <a href="#/about">buttonnobutwithhtml</a>
                        </div>      
                    </div>
                </div>
                
                <div id="detailsPic">
                    <h1>delicious</h1>      
                    <p>kajsfljak;lsfjksjf</p>
                </div>
            </div>
        </section>
-->
        <section id="reservation">
            <div id="reservHolder">
                <div id="reservTile">
                    
                </div>
                <div id="form">
                    <form id="simple">
                            <h1>Book Now</h1>
                            <p>Reseve a table for our indoor and outdoor seating</p>
                            <div id="simpleHolder">
                                <input type="text" ng-model="reserv.name"  placeholder=" Reservation Name"/><br />
                                <input type="email" ng-model="reserv.email" placeholder= "Email For Confirmation"/><br />
                                <input type="text" ng-model="reserv.number" placeholder= "Number Of Guest"/><br />
                                <input type="text" ng-model="reserv.date" placeholder= "Date"/><br />
                                <input type="text" ng-model="reserv.time" placeholder= "Time"/><br />
                                <input type="reset" ng-click="reset()" value="Reset" />
                                <input type="submit" ng-click="update(user)" value="Save" />
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <section id="connect">
            <div id="connectHolder">
                <div id="consocial">
                    <div id="socialWrap">
                        <div id="wrapTop">
                            <h2>Join in the Convo!</h2> 
                            <h1>Connect With Bistro</h1> 
                        </div>
                        <div id="wrapBottom">
                            <div id="wrapbLeft">
                                <img src="assets/img/facebook.png"/>
                            </div>
                            <div id="wrapbRight">
                                <img src="assets/img/facebook.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="conTalk">
                    <div id="blocksText">
                        <h2>Eat Great Everytime</h2> 
                        <h1>Health Foods</h1> 
                    </div>
                </div>
                <div id="conEvent">
                    <div id="conWrap">
                            <div id="conTop">
                                <h2>Book Your Special Event</h2> 
                                <h1>Personal Event</h1> 
                            </div>
                            <div id="conBottom">
                                <h1>Call Today</h1>
                                <h2>click here</h2> 
                            </div>
                     </div>   
                  </div>    
            </div>
        </section>
        <section id="footer">
            <div id="footHolder">
                <div id="footText">
                    2016. Copyright Bistro. All rights reserve.
                </div>
            </div>
        </section>
    </div>
</div>
   