<div id="hompage">
    <div id="hompageHolder">
        <section id="welcome">
            <div id="welcomeHolder">
                <div id="welcomeText">
                    <h1>Bistro Union</h1>      
                </div>
            </div>
        </section>
        <section id="restMenu">
            <div id="restHolder">
                <div id="foodMenu" class="box fade-in one">
                    <h1>Menu</h1>
                    <div class="pm" id="block animatable bounceIn">
                        <h2>Fettuccine with Swiss</h2>
                        <p> with chicken</p>
                    </div>
                    <div class="pm">
                        <h2>Carrot, Cucumber and Rice Noodles</h2>
                        <p>with Lime-Ginger Dressing</p>
                    </div>
                    <div class="pm">
                        <h2>Roasted Ham</h2>
                        <p>and potates</p>
                    </div>
                    <div class="pm">
                        <h2>Lobster Club</h2>
                        <p>with Green Onion Dressing</p>
                    </div>
                    <div class="pm">
                        <h2>Grilled Salmon </h2>
                        <p>Crispy Ham with Arugula</p>
                    </div>
                    <div class="pm">
                        <h2>Porterhouse Lamb Chops </h2>
                        <p>with Red Wine Sauce and Mint Pesto</p>
                    </div>
                </div>
                <div id="foodBig" class="box fade-in two">
                     <h1>Entree</h1>
                        <div class="pm">
                            <h2>Creamy Lobster Linguine</h2>
                            <p>with Parmesan</p>
                        </div>
                        <div class="pm">
                            <h2>Mushroom Macaroni and Cheese</h2>
                            <p></p>
                        </div>
                        <div class="pm">
                            <h2>Broccoli Rabe </h2>
                            <p>with Raisins and Pine Nuts</p>
                        </div>
                        <div class="pm">
                            <h2>Risotto with Clams</h2>
                            <p></p>
                        </div>
                        <div class="pm">
                            <h2>Pan-Roasted Salmon</h2>
                            <p> with Summer Succotash</p>
                        </div>  
                    </div>
                <div id="foodSmall" class="box fade-in three">
                    <h1>Dessert</h1>
                        <div class="pm">
                            <h2>Roasted Chickpeas </h2>
                            <p>with Cinnamon and Honey</p>
                        </div>
                        <div class="pm">
                            <h2>Blueberry-Pomegranate Smoothie</h2>
                            <p>with Oatmeal</p>
                        </div>
                        <div class="pm">
                            <h2>Chocolate Mousse with Raspberries</h2>
                            <p>with Avocado</p>
                        </div>
                        
                </div>
            </div>
        </section>

        <section id="reservation">
            <div id="reservHolder">
                <div class="kept">
                    <div id="reservTile">
                    <img src="./assets/img/chinasoup.jpg" class="resimage" />
                    </div>
                </div>    
                <div id="form">
                    <form id="simple">
                            <h1>Book Now</h1>
                            <p>Reseve a table for our indoor and outdoor seating</p>
                            <div id="simpleHolder">
                                
                                    <input type="text" ng-model="reserv.name"  placeholder=" Reservation Name"/><br />
                                    <input type="email" ng-model="reserv.email" placeholder= "Email For Confirmation"/><br />
                                    <input type="text" ng-model="reserv.number" placeholder= "Number Of Guest"/><br />
                                    <input type="text" ng-model="reserv.date" placeholder= "Date"/><br />
                                    <input type="text" ng-model="reserv.time" placeholder= "Time"/><br />
                                    <input type="reset" ng-click="reset()" value="Clear" />
                                    <input type="submit" ng-click="update(user)" value="Send" />
                                 
                            </div>
                    </form>
                </div>
            </div>
        </section>
        <section id="connect">
            <div id="connectHolder">
                <div id="consocial">
                    <div id="socialWrap">
                        <div id="wrapTop">
                            <h2>Join in the Convo!</h2> 
                            <h1>Connect With Bistro</h1> 
                        </div>
                        <div id="wrapBottom">
                            <div id="wrapbLeft">
                                <img src="assets/img/facebook.png"/>
                            </div>
                            <div id="wrapbRight">
                                <img src="assets/img/twitter.png"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="conTalk">
                    <div id="blocksText">
                        <h2>Eat Great Everytime</h2> 
                        <h1>Health Foods</h1> 
                    </div>
                </div>
                <div id="conEvent">
                    <div id="conWrap">
                            <div id="conTop">
                                <h2>Book Your Special Event</h2> 
                                <h1>Personal Event</h1> 
                            </div>
                            <div id="conBottom">
                                <h1>Call Today</h1>
                                <h2>click here</h2> 
                            </div>
                     </div>   
                  </div>    
            </div>
        </section>
        <section id="footer">
            <div id="footHolder">
                <div id="footText">
                    2016. Copyright Bistro. All rights reserve.
                </div>
            </div>
        </section>
    </div>
</div>
   