//import files

//bizcolors
$base-color: #373752;
$accent-color: #E2785D;

//colors
$white: #ffffff;
$black: #000000;
$grey: #eee;
//gradent

//fonts
$pacifico: 'Pacifico', cursive;   
$source-sans: 'Source Sans Pro', sans-serif;

//media queries
$mobile-small: 319px;
$mobile-large: 320px;
$tablet-small: 480px;
$tablet-large: 768px;
$screen-small: 1024px;

body {
  margin: 0;
  width:100%;
  height:100%;
//  overflow:hidden;
//  background-color: #f4f4f4;
}

a {
  color: #000;
}
/* header */

.header {
  background-color: transparent;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
  color:$white;
  font-size: .9em;
  font-weight: 200;
  font-family: $source-sans;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: $accent-color;
  color: $base-color;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color:$white;
  font-weight: 600;
  font-family: $source-sans;    
}

/* menu */
.header .navigation {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}
.header .menu-icon .navicon {
  background: $white;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: $white;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.header .menu-icon .navicon:before {
  top: 5px;
}
.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .navigation {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}
.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* wrapper*/
#wrapper{
  position: absolute;
  background-color: $base-color;
  width: 100%;
  height: 3500px;
//  padding: 40px 0px 0px 0px;
}
/* pages*/
#hompage,#aboutpage,#winepage,#giftpage,{
    width: 100%;
    height: auto;
    position: absolute;
    background-color: lightgoldenrodyellow;
    top: 0px;
//    padding: 80px 15px 0px 15px;
    #hompageHolder,#aboutpageHolder,#winepageHolder,#giftpageHolder,{
        width: 100%;
        height: auto;
        background-color: yellow;
        margin-top: -20px;
    }
}

@media screen and (min-width: $mobile-large){

/* Homepage*/
//welcome
#welcome,#aboutWelc,#wineWelc,#giftWelc{
    width: 100%;
    height: 726px;
    background-image: url("../img/welcometwo.jpeg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    #welcomeHolder,#aboutWelcHolder,#wineWelcHolder,#giftWelcHolder{
        width: 100%;
        height:auto;
        position: relative;
        top:50%;
        margin: 0 auto;
//        background-color: aqua;
        #welcomeText,#aboutWelcText,#wineWelcText,#giftWelcText{
            height:auto;
        }   
    }
    
}
#aboutWelc{
    background-image: url("../img/outfulltable.jpeg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
#wineWelc{
    background-image: url("../img/handsgrape.jpeg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}
#giftWelc{
    background-image: url("../img/peopleeating.jpg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}    
#welcome h1, #aboutWelc h1, #wineWelc h1, #giftWelc h1{
    font-family: $source-sans;
    font-weight: 600;
    font-size: 6em;
    text-align: center;
    color:$white;  
    margin: 0 auto;
}  
     
//restMenu
#restMenu{
    width: 100%;
    height: 1100px;
    background-color: $white;
    margin-top: -20px;
    #restHolder{
        width: 100%;
        height:auto;
        position: relative;
        margin: 0 auto;
//        background-color: aqua;
    }
}
#foodMenu{
    width: 100%;
    height: 500px;
    position: relative;
    background-color: $grey;
    .pm{
        width: 100%;
        height: auto;
        margin: 25px 0px;
    }
}
#foodMenu h1, #foodBig h1,#foodSmall h1{
    font-family: $source-sans;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
}
#foodBig h1,#foodSmall h1{
    color:$white;
}
.pm h2, .pm p{
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    text-align: center;
    color:$black;  
    margin: 0 auto;
}
.pm p{
    font-size: .9em;
}    
#foodBig,#foodSmall{
    width: 100%;
    height: 350px;
    position: relative;
    background-color: $accent-color;
    margin-top: -20px;
    .pm{
        width: 100%;
        height: auto;
        margin: 25px 0px;
    }
    .pm h2, .pm p{
        color:$white;
        font-size: 1.2em;    
    }
    .pm p{
        font-size: .8em;
    } 
} 
#foodSmall{
    height: 250px;
} 
    
// special    
//#special{
//    width: 100%;
//    height: 726px;
//    background-color: greenyellow;
//    margin-top: -20px;
//    #specialHolder{
//        width: 100%;
//        height:726px;
//        position: relative;
//        margin: 0 auto;
//        background-color: aqua;
//        #specPic{
//           display:none;
//        }
//        #detailsPic{
//            width: 100%;
//            height: 450px;
//            background-color:black;
//            padding: 297px 0px 0px 0px;
//            background-image: url("../img/burg.jpg");
//            background-attachment: scroll;
//            background-position: 50% 50%;
//            background-repeat: no-repeat;
//            -webkit-background-size: cover;
//            -moz-background-size: cover;
//            -o-background-size: cover;
//            background-size: cover;
//        } 
//    }
//}   
//#detailsPic h1, #detailsPic p{
//    font-family: $source-sans;
//    font-weight: 600;
//    font-size: 2.5em;
//    text-align: center;
//    color:$white;  
//    margin: 0 auto;
//} 
//#detailsPic p{
//    font-family: $source-sans;
//    font-weight: 300;
//    font-size: 1.5em;
//}  
//    

//restMenu
#reservation{
    width: 100%;
    height: 927px;
    background-color: limegreen;
    margin-top: -20px;
    #reservHolder{
        width: 100%;
        height:927px;
        position: relative;
        margin: 0 auto;
//        background-color: aqua;
    }
}
#reservTile{
    width: 100%;
    height: 300px;
    background-image: url("../img/chinasoup.jpg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;    
}
#form{
    width: 100%;
    height: 649px;
    margin-top: -20px;
    background-color:$base-color;
    padding: 20px 0px 0px 0px;
}
#simple{
     height:auto;
     width:80%;
     margin:0 auto;
//     background-color: pink;
    #simpleHolder{
        margin:0px 0px 0px 52px;
//        padding: 0px 0px 0px 10px;
        width:100%;
//        background-color: aliceblue;
         input{
            background: rgba(255, 255, 255, 0.08) none repeat scroll 0 0;
            border: 1px solid #9babb3;
            border-radius: 2px;
            font-size: 13px;
            font-weight: 300;
            height: 50px;
            outline: 0 none;
            padding: 5px 5px 5px 10px;
            margin: 10px 0px;
            color:$white;
            width:80%;
            
          }
          input[type="submit"] {
            background: $accent-color;
            border: 1px solid $accent-color;
          }
          input[type="reset"] {
            background: $grey;
            color:$black;
            border: 1px solid $grey;
          }
    }
} 
#simple h1, #simple p{
    font-family: $source-sans;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
    color:$white;  
    margin: 0 auto;   
} 
#simple p{
    font-family: $source-sans;
    font-weight: 300;
    font-size: 1.5em;   
}

//connect
#connect{
    width: 100%;
    height: 1100px;
    background-color: $white;
    margin-top: -20px;
    #connectHolder{
        width: 100%;
        height:auto;
        position: relative;
        margin: 0 auto;
//        background-color: aqua;
    }
}
#consocial{
    width: 100%;
    height: 350px;
    position: relative;
    background-color: $white;
    border: 4px solid $black;
    #socialWrap{
        position:relative;
        height: auto;
        width: 70%;
        margin: 0 auto;
        padding: 60px 0px 10px 0px;
        background-color: $white;
        #wrapTop{
            width: 100%;
//            background-color: sandybrown;
            margin: 0px 0px 26px 0px;
        }
        #wrapBottom{
            width: 100%;
            height:100px;
//            background-color: brown;
            border-top: 4px solid $black;
            #wrapbLeft{
                width: 50%;
                height:90px;
                float:left;
//                background-color:whitesmoke;
                border-right: 4px solid $black;
                padding: 2em 0em 0em 4em;
                #wrapbLeft img{
//                    marign: 10px 0px 0px 0px;
                }
            }
            #wrapbRight{
                width: 50%;
                height:90px;
                float:left;
//                background-color:whitesmoke;
//                border-top: 1px solid $black;
                padding: 2em 0em 0em 4em;
                #wrapbRight img{
//                    marign: 10px 0px 0px 0px;
                }
            }
        }
    }
    #wrapTop h1,#wrapTop h2{
        font-family: $source-sans;
        font-weight: 600;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        color:$black;
        line-height: 2em;
        margin: 0 auto; 
        letter-spacing: .1em;
    }
    #wrapTop h2{
        font-size: .9em;
        font-weight: 200;
    }
    
}
   
#conTalk{
    width: 100%;
    height: 350px;
    position: relative;
    background-color: $white;
    background-image: url("../img/banana.jpg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    #blocksText{
        position:relative;
        top:285px;
        height: auto;
        width: 80%;
        background-color: $white;
        padding: 0px 0px 0px 20px;
        margin: 0 auto;
    }
    
}
#blocksText h1,#blocksText h2{
    font-family: $source-sans;
    font-weight: 600;
    font-size: 1.5em;
    text-align: left;
    text-transform: uppercase;
    color:$black;
    line-height: 2em;
    margin: 0 auto; 
}
#blocksText h2{
    font-size: .9em;
    font-weight: 200;
}    
      
#conEvent{
    width: 100%;
    height: 350px;
    position: relative;
    background-color: $white;
    border: 4px solid $black;
    #conWrap{
        position:relative;
        height: auto;
        width: 70%;
        margin: 0 auto;
        padding: 60px 0px 10px 0px;
        background-color: $white;
        #conTop{
            width: 100%;
//            background-color: sandybrown;
            margin: 0px 0px 26px 0px;
        }
        #conBottom{
            width: 100%;
            height:100px;
            background-color: $grey;
            border-top: 4px solid $black;
            padding: 23px 0px 0px 0px;
        }
    }
    #conTop h1,#conTop h2{
        font-family: $source-sans;
        font-weight: 600;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        color:$black;
        line-height: 2em;
        margin: 0 auto; 
        letter-spacing: .1em;
    }
    #conTop h2{
        font-size: .9em;
        font-weight: 200;
    }
    #conBottom h1,#conBottom h2{
        font-family: $source-sans;
        font-weight: 300;
        font-size: 1.5em;
        text-align: center;
        text-transform: uppercase;
        color:$black;
        line-height: 1.5em;
        margin: 0 auto; 
        letter-spacing: .1em;
    }
    #conBottom h2{
        font-size: .9em;
        font-weight: 200;
    }
    
}    
    
#footer{
    width: 100%;
    height: 46px;
    background-color: $base-color;
    padding: 0px 0px 0px 30px;
    #footHolder{
        width: 80%;
        height:auto;
        position: relative;
        top:30%;
        margin: 0 auto;
//        background-color: aqua;
        #footText{
            height:auto;
            color:$white;
        }   
    }
    
}
#footText h1{
    font-family: $source-sans;
    font-weight: 200;
    font-size: 3em;
    text-align: center;
    color:$white;  
    margin: 0 auto;
}   
    
/* Aboutpage*/
#letter{
    width: 100%;
    height: 780px;
    background-color: powderblue;
    margin-top: -20px;
    #letterHolder{
        height: 780px;
        background-color: $white;
        #notePic{
            width: 100%;
            height: 400px;
            background-image: url("../img/banana.jpg");
            background-attachment: scroll;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;   
        }
        #noteWritten{
            width: 100%;
            height: 400px;
            margin-top: -20px;
            #writtenText{
                height: 400px;
                background-color: $grey;
                padding: 20px 12px 0px 17px;
            }
        }
    }
}
#writtenText h1, #writtenText h2, #writtenText h3{
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 4px;
    text-align: center;
    color:$black;  
    margin: 0 auto;
}
#writtenText h2{
    font-family: $pacifico;
    font-weight: 200;
    font-size: .9em;
}
#writtenText h3{
    font-weight: 200;
    font-size: .9em;   
}
#writtenText p{
    font-family: $source-sans;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    color:$black;  
    margin: 0 auto;
}    
    
    
#health{
    width: 100%;
    height: 800px;
    background-color: powderblue;
    margin-top: -20px;
    #healthHolder{
        height: 800px;
        background-color: hotpink;
        #bloc{
            width:100%;
            height: 800px;
            border: 1 solid #eee;
            padding: 30px 0px 0px 0px;
            #blocHolder{
                width:90%;
                height: 400px;
                margin: 0 auto;
                background-color: yellow;    
            }  
        }
        #glut{
            height: 400px;
            border: 1 solid #eee;
        }
        .ione, .itwo{
            width:100px;
        }
        
    }
}
#blocHolder h1, #blocHolder h2, #blocHolder h3{
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 4px;
    text-align: center;
    color:$black;  
    margin: 0 auto;
}
#blocHolder h2{
    font-family: $pacifico;
    font-weight: 200;
    font-size: .9em;
}
#blocHolder p{
    font-family: $source-sans;
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    color:$black;  
    margin: 0 auto;
}   
    
/* winepage*/
#grape{
    width: 100%;
    height: 653px;
    background-color: powderblue;
    margin-top: -20px;
    #grapeHolder{
        width: 100%;
        height: 653px;
        background-color: $white;
        #graPic{
            width: 100%;
            height: 300px;
            background-image: url("../img/wineopening.jpg");
            background-attachment: scroll;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
        }
        #graText{
            height: 300px;
            background-color: $grey;
            margin: 25px 5px 10px 5px;
            padding: 15px 5px 10px 5px;
            #gratHolder{
                height: auto;
            }
        }
    }
}
#gratHolder h1, #gratHolder h2, #gratHolder p {
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 34px;
    text-align: center;
    color:$black;  
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
} 
 #gratHolder h2{
    font-family: $pacifico;
    font-size: 1.2em;
}
#gratHolder p {
    font-size: .9em;
    letter-spacing: 3px;
    line-height: 20px;
}    
    
#car{
    width: 100%;
    height: 610px;
    background-color: blue;
    margin-top: -25px;
    #carHolder{
        width: 100%;
        height: 610px;
        background-color: $white;
//        display: flex;
//        flex-flow: row wrap;
        #carText{
            height: 300px;
            background-color: $white;
            margin: 25px 5px 10px 5px;
            padding: 15px 5px 10px 5px;
//            order: 2;
            #cartextHolder{
                height: auto;
            }  
        }
        #carsol{
           #carimageHolder{
            width: 100%;
            height: 300px;
//            order: 1;   
            background-image: url("../img/winetop.jpeg");
            background-attachment: scroll;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
            } 
        }
    }
}    
#cartextHolder h1, #cartextHolder h2, #cartextHolder p {
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 34px;
    text-align: center;
    color:$black;  
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
} 
 #cartextHolder h2{
    font-family: $pacifico;
    font-size: 1.2em;
}
#cartextHolder p {
    font-size: .9em;
    letter-spacing: 3px;
    line-height: 20px;
}  
    
    
    
/* giftpage*/
#gift{
    width: 100%;
    height: 810px;
    background-color: blue;
    margin-top: -25px;
    #giftHolder{
        width: 100%;
        height: 810px;
        background-color: $white;
        #giftInfo{
            width: 80%;
            margin: 0 auto;
            height:auto;
            background-color: lightcoral;
            padding: 35px 0px;
        }
        
    }
}
form{
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
}
.blocks{
    display: block;
    width: 100%;
    height: auto;
    margin: 10px 0px;
    padding: 3px 0px;
    background-color: $white;
}
.blocks h1{
        font-family: $source-sans;
        font-weight: 600;
        font-size: 1.3em;
        letter-spacing: 1px;
        text-align: left;    
    }    
.userIns{
    font-family: $source-sans;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    color: $black;  
    margin: 0 auto;
//    padding: 0px 0px 10px 0px;  
}    
input {
    padding: 15px;
    width: 100%;
    border: 4px solid $black;
    border-radius: 0px;
    background: transparent;
    font-size: 1.3em;
    border-top: none;
    border-left: none;
    border-right: none;
    opacity: 1;
}
input:hover {
    border-bottom: 5px solid $black;
    border-radius: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
}
input::-webkit-input-placeholder {
    color: #000;
    text-transform: uppercase;
}
input::-moz-placeholder {
    color: #000;
    text-transform: uppercase;
}
input:-moz-placeholder {   /* Older versions of Firefox */
    color: #000;
    text-transform: uppercase;
}
input:-ms-input-placeholder { 
    color: #000;
    text-transform: uppercase;
}
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}
[placeholder]:focus::-moz-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}
[placeholder]:focus::-ms-input-placeholder {
  transition: opacity 0.5s 0.5s ease; 
  opacity: 0;
}     
textarea:focus {
  background: grey;
}    
.btnNotify, .btnSend, .btnClear{
    width:30%;
    height: 38px;
    background-color: $black;
    color: $white;
    border: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.btnSend{
    float: left;
}
.btnClear{
    float: right;
}    
.btnNotify:hover, .btnSend:hover, .btnClear:hover{
    background-color: $white;
    color: $black;
    border: 1px solid $black;
}    

.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}    

#fa{
        height:50px;
        width:50px;
        background-color: black;
     opacity:1;
    }
/* The starting CSS styles for the enter animation */

@-webkit-keyframes mymovemail {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
}

/* Standard syntax */
@keyframes mymovemail {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
}    
.fat {
   animation: mymovemail 5s;
    -webkit-animation:mymovemail 5s; /* Chrome, Safari, Opera */ 
//  transition:.75s linear all;
  opacity:1;
}
@-webkit-keyframes mymovemail {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
}

/* Standard syntax */
@keyframes mymovemail {
    0%   {left: 0px;}
    25%  {left: 200px;}
    75%  {left: 50px}
    100% {left: 100px;}
}
.highlight {
  transition:0.5s linear all;
}
.highlight.on-add {
  background:white;
}
.highlight.on {
  background:yellow;
}
.highlight.on-remove {
  background:black;
} 
 
.fade.ng-hide {
  transition:0.5s linear all;
  opacity:0;
}      
 .fade .ng-hide {
  transition:0.5s linear all;
  opacity:0;
}   
    
    
    
    
}// End of Media 
















@media screen and (min-width: $tablet-large){
#wrapper{
    height: 2314px;
}   
.header li {
    float: left;
}
.header li a {
    padding: 20px 30px;
}
.header .navigation {
    clear: none;
    float: right;
    max-height: none;
}
.header .menu-icon {
    display: none;
}
//restMenu    
#restMenu{
    height: 650px;
    margin-top: 0px;
    #restHolder{
        height: 650px;
        margin-top: 0px;
        padding: 55px 0px 0px 25px;
    }
}
#foodMenu{
    float:left;
    width:45%;
    height: 526px;
//    -webkit-animation: fmenumove 3s; 
//    animation:  fmenumove 3s;
}
    
#foodBig{
    float:left;
    width:25%;
    height: auto;
    margin: 40px 5px 0px 10px;
//    -webkit-animation: fbmove 4s; 
//    animation:  fbmove 4s;
    
}
#foodSmall{
    float:left;
    width:25%;
    height: auto;
    margin: 120px 5px 0px 4px;
//    -webkit-animation: fadeIn 7s; 
//    animation:  fadeIn 7s;
}
    
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}    
   
//special
//#special{
//    width: 100%;
//    height:726px;
//    #specialHolder{
//        width: 100%;
//        height:726px;
//        background-color: red;
//        #specPic{
//           width: 50%;
//           height: 450px;
//           background-color:$base-color;
////           float:left;
//           display: block;
//        }
//        #detailsPic{
//            width: 41%;
//            height: 450px;
//            background-color:antiquewhite;
//            float:left;
//            padding: 297px 0px 0px 0px;
//            clear:both;
//        } 
//    }
//}
//#specPic h1, #specPic p{
//    font-family: $source-sans;
//    font-weight: 600;
//    font-size: 2.5em;
//    text-align: center;
//    color:$white;  
//    margin: 0 auto;
//} 
//#specPic p{
//    font-family: $source-sans;
//    font-weight: 300;
//    font-size: 1.5em;
//}
//restMenu
#reservation{
    height: 640px;
    #reservHolder{
        height:540px;
        position: relative;
        margin: 0 auto;
//        background-color: aqua;
    }
}
#reservTile{
    width: 50%;
    height: 640px;
    margin-top: 0px;
    background-image: url("../img/chinasoup.jpg");
    background-attachment: scroll;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    position: absolute;
    background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}    
#form{
    width: 50%;
    height: 640px;
    margin-top: 0px;
    float:right;
    background-color:$base-color;  
}
#connect{
    height: 405px;
    margin-top: 0px;
}
#connectHolder{
    height: 526px;
    margin-top: 0px;
}
#consocial, #conTalk, #conEvent{
    float:left;
    width:32%;
    height: 282px;
    margin: 0px 7px;
}
#conWrap, #socialWrap{
    padding: 0px 0px 10px 0px;   
}
#conTalk #blocksText {
    position: relative;
    top: 215px;
}    
    
/* winepage*/
#grape{
    width: 100%;
    height: 547px;
    margin-top: 0px;
    #grapeHolder{
        width: 100%;
        height: 547px;
        #graPic{
            width: 50%;
            height: 550px;
            float:left;
        }
        #graText{
            width: 50%;
            height: 550px;
            float:right;
            background-color: $grey;
            margin: 0px 0px 0px 0px;
            padding: 165px 15px 0px 15px;
            #gratHolder{
                height: auto;
            }
        }
    }
}
#gratHolder h1, #gratHolder h2, #gratHolder p {
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 34px;
    text-align: center;
    color:$black;  
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
} 
 #gratHolder h2{
    font-family: $pacifico;
    font-size: 1.2em;
}
#gratHolder p {
    font-size: .9em;
    letter-spacing: 3px;
    line-height: 20px;
}    
    
#car{
    width: 100%;
    height: 523px;
    margin-top: 0px;
    #carHolder{
        width: 100%;
        height: 523px;
        background-color: $white;
        #carText{
            width: 50%;
            height: 520px;
            background-color: $white;
            margin: 0px 0px 0px 0px;
            padding: 165px 15px 0px 15px;
            float: left;
            #cartextHolder{
                height: auto;
            }  
        }
        #carsol{
           #carimageHolder{
            width: 50%;
            height: 520px;
            float: right;
            background-image: url("../img/winetop.jpeg");
            background-attachment: scroll;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 
            } 
        }
    }
}    
#cartextHolder h1, #cartextHolder h2, #cartextHolder p {
    font-family: $source-sans;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 3px;
    line-height: 34px;
    text-align: center;
    color:$black;  
    margin: 0 auto;
    padding: 0px 0px 10px 0px;
} 
 #cartextHolder h2{
    font-family: $pacifico;
    font-size: 1.2em;
}
#cartextHolder p {
    font-size: .9em;
    letter-spacing: 3px;
    line-height: 20px;
}     
    
 
    
    
}//end of media 


